{
  "ServiceName": "VNI",
  "DMEProcessing": [
    {
      "Key": "hmmFwdIf",
      "Paths": [
        {
          "Path": "PathFiles/hmmFwdIf.json"
        }
      ]
    },
    {
      "Key": "rtctrlBDEvi",
      "Paths": [
        {
          "Path": "PathFiles/rtctrlBDEvi.json"
        }
      ]
    },
    {
      "Key": "ipv4Addr",
      "Paths": [
        {
          "Path": "PathFiles/ipv4Addr.json"
        }
      ]
    },
    {
      "Key": "sviIf",
      "Paths": [
        {
          "Path": "PathFiles/sviIf.json"
        }
      ]
    },
    {
      "Key": "l2BD",
      "Paths": [
        {
          "Path": "PathFiles/l2BD.json"
        }
      ]
    },
    {
      "Key": "nvoEvpnMultisiteBordergw",
      "Paths": [
        {
          "Path": "PathFiles/nvoEvpnMultisiteBordergw.json"
        }
      ]
    },
    {
      "Key": "nvoNw",
      "Paths": [
        {
          "Path": "PathFiles/nvoNw.json"
        },
        {
          "Path": "PathFiles/nvoNwsnvoIngRepl.json"
        }
      ]
    },
    {
      "Key": "bgpInst",
      "Paths": [
        {
          "Path": "PathFiles/bgpInst.json"
        }
      ]
    }
  ],
  "ServiceConstructPath": [
    {
      "ChunkName": "l2BD",
      "KeySName": "vnid",
      "KeySType": "string",
      "KeyDName": "l2BD.accEncap",
      "KeyDType": "string",
      "KeyLink": "direct",
      "MatchType": "partial",
      "KeyList": [
        "l2BD.id",
        "l2BD.accEncap",
        "l2BD.name"
      ],
      "Options": []
    },
    {
      "ChunkName": "sviIf",
      "KeySName": "l2BD.id",
      "KeySType": "int64",
      "KeyDName": "sviIf.vlanId",
      "KeyDType": "int64",
      "KeyLink": "indirect",
      "MatchType": "full",
      "KeyList": [
        "sviIf.id"
      ],
      "Options": []
    },
    {
      "ChunkName": "rtctrlBDEvi",
      "KeySName": "l2BD.accEncap",
      "KeySType": "string",
      "KeyDName": "rtctrlBDEvi.encap",
      "KeyDType": "string",
      "KeyLink": "indirect",
      "MatchType": "full",
      "KeyList": [
        "rtctrlRttEntry.rtt"
      ],
      "Options": [
        {
          "optionKey": "rtctrlRttP.type",
          "optionValue": "export"
        },
        {
          "optionKey": "rtctrlRttP.type",
          "optionValue": "import"
        }
      ]
    },
    {
      "ChunkName": "ipv4Addr",
      "KeySName": "sviIf.id",
      "KeySType": "string",
      "KeyDName": "ipv4If.id",
      "KeyDType": "string",
      "KeyLink": "indirect",
      "MatchType": "full",
      "KeyList": [
        "ipv4Addr.addr",
        "ipv4Addr.tag",
        "ipv4Dom.name"
      ],
      "Options": []
    },
    {
      "ChunkName": "hmmFwdIf",
      "KeySName": "sviIf.id",
      "KeySType": "string",
      "KeyDName": "hmmFwdIf.id",
      "KeyDType": "string",
      "KeyLink": "indirect",
      "MatchType": "full",
      "KeyList": [
        "hmmFwdIf.mode"
      ],
      "Options": []
    },
    {
      "ChunkName": "nvoNw",
      "KeySName": "vnid",
      "KeySType": "string",
      "KeyDName": "nvoNw.vni",
      "KeyDType": "int64",
      "KeyLink": "indirect",
      "MatchType": "full",
      "KeyList": [
        "nvoNw.vni",
        "nvoNw.multisiteIngRepl",
        "nvoNw.mcastGroup",
        "nvoIngRepl.proto",
        "nvoIngRepl.rn"
      ],
      "Options": []
    },
    {
      "ChunkName": "bgpInst",
      "KeySName": "any",
      "KeySType": "string",
      "KeyDName": "any",
      "KeyDType": "int64",
      "KeyLink": "no-link",
      "MatchType": "full",
      "KeyList": [
        "bgpInst.asn"
      ],
      "Options": []
    }
  ],
  "ServiceComponents": [
    {
      "ComponentName": "L2VNI",
      "ComponentKeys": [
        {
          "Name": "l2BD.accEncap",
          "Value": "anyValue",
          "MatchType": "equal"
        },
        {
          "Name": "rtctrlRttEntry.rtt.export",
          "Value": "anyValue",
          "MatchType": "equal"
        },
        {
          "Name": "rtctrlRttEntry.rtt.import",
          "Value": "anyValue",
          "MatchType": "equal"
        }
      ]
    },
    {
      "ComponentName": "AGW",
      "ComponentKeys": [
        {
          "Name": "ipv4Addr.addr",
          "Value": "anyValue",
          "MatchType": "equal"
        },
        {
          "Name": "hmmFwdIf.mode",
          "Value": "anycastGW",
          "MatchType": "equal"
        }
      ]
    },
    {
      "ComponentName": "IR",
      "ComponentKeys": [
        {
          "Name": "nvoIngRepl.rn",
          "Value": "anyValue",
          "MatchType": "equal"
        }
      ]
    },
    {
      "ComponentName": "PIM",
      "ComponentKeys": [
        {
          "Name": "nvoNw.mcastGroup",
          "Value": "0.0.0.0",
          "MatchType": "not-equal"
        }
      ]
    },
    {
      "ComponentName": "MS-IR",
      "ComponentKeys": [
        {
          "Name": "nvoNw.multisiteIngRepl",
          "Value": "enable",
          "MatchType": "equal"
        }
      ]
    }
  ]
}