<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input Type Submit</title>
</head>
<body>
<form action="/action" method="POST">
        <input type="text" name="key" placeholder="key" autofocus autocomplete="off"><br>
        <input type="text" name="service" placeholder="service" autofocus autocomplete="off"><br>
        <input type="text" name="inventory" placeholder="inventory" autofocus autocomplete="off"><br>
        <input type="submit" name="submit-btn" value="onda button">
</form>
</body>
</html>