<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input Type Submit</title>
</head>
<form action="getRawData" method="POST">
    <input type="submit" value="getRawData" />
</form>
<form action="loadInventory">
    <input type="submit" value="loadInventory" />
</form>
<form action="loadServiceNames">
    <input type="submit" value="loadServiceNames" />
</form>
<form action="getActualFootprint">
    <input type="submit" value="getActualFootprint" />
</form>
<form action="getActualDeviceFootprint">
    <select id="serviceName" name="serviceName">
        <option value="">--Please choose an option--</option>
        {{range $i, $v := .ServiceList}}
            {{$value := index $v "ServiceName"}}
            <option value="{{$value}}">{{$value}}</option>
        {{end}}
    </select>
    <select id="hostName" name="hostName">
        <option value="">--Please choose an option--</option>
        {{range $i, $v := .Inventory}}
            {{$value := index $v "HostName"}}
            <option value="{{$value}}">{{$value}}</option>
        {{end}}
    </select>
    <input type="submit" value="getActualDeviceFootprint" />
</form>
<form action="getActualServiceFootprint">
    <select id="serviceName" name="serviceName">
        <option value="">--Please choose an option--</option>
        {{range $i, $v := .ServiceList}}
            {{$value := index $v "ServiceName"}}
            <option value="{{$value}}">{{$value}}</option>
        {{end}}
    </select>
    <select id="hostName" name="hostName">
        <option value="">--Please choose an option--</option>
        {{range $i, $v := .Inventory}}
            {{$value := index $v "HostName"}}
            <option value="{{$value}}">{{$value}}</option>
        {{end}}
    </select>
    <input type="submit" value="getActualServiceFootprint" />
</form>
<form action="getCompianceData">
    <input type="submit" value="getCompianceData" />
</form>
<form action="getHostnameForCompianceReport">
    <select id="serviceName" name="serviceName">
        <option value="">--Please choose an option--</option>
        {{range $i, $v := .ServiceList}}
            {{$value := index $v "ServiceName"}}
            <option value="{{$value}}">{{$value}}</option>
        {{end}}
    </select>
    <input type="submit" value="getHostnameForCompianceReport" />
</form>
</body>
</html>
