<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input Type Submit</title>
</head>
<form action="/pushSOTToMongo" method="POST">
    <label for="SOT-DB">SOT-DB:</label>
    <textarea name="SOT-DB" cols="40" rows="5"></textarea><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>
